Olá, sua Meetup <strong>{{meetupName}}</strong> possui uma nova inscrição <br />
<p>Você pode conferir abaixo os dados do novo participante:</p>
<p>
  <strong>Nome: </strong> {{subscriberName}} <br />
  <strong>Email: </strong> {{subscriberEmail}} <br />
</p>